<main>
   
<section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">About me</h1>
        <p class="lead text-muted">My name is Davey and im 21 years old. I am attending ATU sligo. Im currently studying UX/UI and app design.
            I am currently on my degree placement with Champ Cloud assisting them with any of their UX/UI needs alongside my data analytics skills. 
        </p>
        <p>
          <a href="book" class="btn btn-primary my-2">My Top 4 Books</a>
          
        </p>
      </div>
    </div>
  </section>
    
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4">
                   <div class="card">
                       <img src="images/basketball.jpg" alt="logo" class="card-img-top">
                       <div class="card-body">
                           <h5 class="card-title"> Sports </h5>
                           <p class="card-text">I like to play Basketball</p>

                       </div>

                   </div>
            </div>
             <div  class="col-12 col-md-6 col-lg-4">
                   <div class="card">
                       <img src="images/ATUSligo.jpg" alt="logo" class="card-img-top">
                       <div class="card-body">
                           <h5 class="card-title"> ATU Sligo </h5>
                           <p class="card-text">This is my college</p>

                       </div>

                   </div>
            </div>
             <div  class="col-12 col-md-6 col-lg-4">
                   <div class="card">
                       <img src="images/book.jpg" alt="logo" class="card-img-top">
                       <div class="card-body">
                           <h5 class="card-title"> Books </h5>
                           <p class="card-text">I read two books a month</p>

                       </div>

                   </div>
            </div>
        </div>
   

</main>